<mat-card class="profile-card">

    <div class="profile">
        <div class="drag-drop-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        <p>Drag & Drop PDF Here</p>
        </div>
        <p *ngIf="uploadedFile">{{ uploadedFile.name }}</p>
    </div>

    <mat-divider></mat-divider>

    <div class="profile">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-table">
            
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element" (click)="onRowClicked(element)"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element" (click)="onRowClicked(element)"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element" (click)="onRowClicked(element)"> {{element.apellido}} </td>
            </ng-container>

            <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
            <td mat-cell *matCellDef="let element" (click)="onRowClicked(element)"> {{element.telefono}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element" (click)="onRowClicked(element)"> {{element.email}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
        </table>
    </div>

    <mat-divider></mat-divider>

    <!-- Sección selected profile -->
    <div class="selected-profile">
        <h3>Nombre: {{profile.nombre}}</h3>
        <p>Apellido: {{profile.apellido}}</p>
        <div class="contact-info">
        <p>Email: {{profile.email}}</p>
        <p>Phone: {{profile.telefono}}</p>
        </div>
        <p class="about-me">
        {{profile.descripcion}}
        </p>
    
        <h4>Work Experience</h4>
        <ul>
            <li *ngFor="let exp of profile.experiencia">
                <div>Empresa: {{ exp.empresa }}</div>
                <div>Puesto: {{ exp.puesto }}</div>
                <div>Fecha de Inicio: {{ exp.fecha_inicio }}</div>
                <div>Fecha de Fin: {{ exp.fecha_fin }}</div>
                <div>Descripción: {{ exp.descripcion }}</div>
                <div>Actividades:
                    <ul>
                    <li *ngFor="let actividad of exp.actividades">{{ actividad.descripcion }}</li>
                    </ul>
                </div>
            </li>
        </ul>
        <h4>Education</h4>
        <ul>
            <li *ngFor="let edu of profile.educacion">
            {{ edu.institucion }} - {{ edu.titulo }} ({{ edu.fecha_inicio }} - {{ edu.fecha_fin }})
            </li>
        </ul>
        <h4>Certificaciones</h4>
        <ul>
            <li *ngFor="let edu of profile.certificaciones">
                {{ edu.institucion }} - {{ edu.certificacion }} ({{ edu.fecha_obtencion }} - {{ edu.fecha_expiracion }})
            </li>
        </ul>
    </div>
    
</mat-card>
